:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  
    color: #f6f6f6;
    background-color: #303030;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  
    user-select: none;
  
      
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  